MONGODB_URI="mongodb://localhost:27017"
MONGO_DB_NAME="code_sense"
JWT_TOKEN_SECRET="<SECRET>"
CENTRAL_URL="<CENTRAL_SERVER_URL>"
LOCAL_KEYS_DIR="/etc/codesense/local_keys"
LICENSE_BOOTSTRAP_TOKEN="<SECRET>"
VLLM_BASE_URL="<YOUR_URL>"
VLLM_MODEL="<YOUR_MODEL>"
VLLM_API_KEY="EMPTY"
VLLM_TIMEOUT_SECONDS="180"
VLLM_STARTUP_RETRIES="6"
VLLM_RETRY_DELAY_SECONDS="2"
SCAN_MAX_WORKERS="4"
SCAN_MAX_CHUNKS_PER_FILE="6"
VLLM_GPU_MEMORY_UTILIZATION=0.75
VLLM_MAX_TOKENS=200
COSIGN_PASSWORD="admin@123"